body {
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: black;

}

.name {
  color: #4D5AE5;
  color: #2E2F42;
}

.menu {
  color: #2E2F42;
}

.menu:hover,
.menu:focus {
  color: #404BBF;
}

.menu:active {
  color: #404BBF;
}

.mail {
  color: #434455; 
}

.mail:hover,
.mail:focus {
  color: #404BBF;
}

.number{
  color: #434455; 
}
.number:hover,
.number:focus {
  color: #404BBF;
}
/* section1 */
.sectionone {
  background: #2E2F42;
}

.type {
  color: white;
  text-align: center;
}

.button {
  background-color: #4D5AE5;
  color: white;
}