body {
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: black;

}

header { color: green;
 
  
  
}
.nav{ 
}
:root{
  --brand-color:#4d5ae5;
  --span-color:#2e2f42;
}

.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  
  color:var(--brand-color);
}
.logo-studio{
color: var(--span-color);
}
.logo:link
{
  text-decoration: none;

}
.nav.menu {
  color: green;
  list-style: none;
  
 
}



.mail {
  color: #434455;
}

.mail:hover,
.mail:focus {
  color: #404BBF;
}

.number {
  color: #434455;
}

.number:hover,
.number:focus {
  color: #404BBF;
}

/* section1 */
.sectionone {
  background: #2E2F42;
  font-size: 56px;

}

.type {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
  line-height: 1.07;
  color: white;}

.button {
  background-color: #4D5AE5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404BBF;
}